<!-- main content -->
<div class="bgimg w3-display-container w3-text-white" style="background-color:#cccccc">
  <%=image_tag("chada_1.jpg", class: "food landscape w3-display-middle w3-animate-fading")%>
  <%=image_tag("chada_2.jpg", class: "food landscape2 w3-display-middle w3-animate-fading")%>
  <%=image_tag("chada_3.jpg", class: "food landscape3 w3-display-middle w3-animate-fading")%>
  <div id="logo">
	<div class="w3-display-middle" style="z-index:2;">
		<%=image_tag("borderlogo.png", class:"logo")%>
   </div>
   <div class="w3-display-middle" style="z-index:2;">
		<%=image_tag("chadalogo.png", class:"logo",style: "position:absolute; transform:translate(-50%,-49%)")%>
   </div>
  </div>  
  <div class="w3-display-topleft w3-container w3-xlarge" style="z-index:2;background:linear-gradient(180deg, #ffffff, transparent);" id="modal_button">
    <p><button onclick="document.getElementById('menu').style.display='block'" class="w3-button w3-chada-gold">Menu</button></p>
    <p><button onclick="document.getElementById('contact').style.display='block'" class="w3-button w3-chada-purple">Contact</button></p>
    <p style="display:none;"><button onclick="document.getElementById('events').style.display='block'" class="w3-button" style="background-color:#13263D">events</button></p>
  </div>
  <div class="w3-display-bottomleft w3-container" style="z-index:2;color:;">
    <p class="w3-large">1860 North University Drive<br>Planation, FL</p>
  </div>
  <div style="z-index:2;" class="w3-display-bottommiddle w3-container">
      <a href="https://www.facebook.com/chadathaiandsushi" target="_blank"><%=image_tag("chada_fb_icon.png", class:"w3-image", style:"padding: 8px; height:48px; width:48px")%></a>  
      <a href="https://www.instagram.com/chadathaifl" target="_blank"><%=image_tag("chada_ig_icon.png", class:"w3-image", style:"padding: 8px; height:48px; width:48px")%></a>
      <a href="https://www.deliverydudes.com/Plantation/Restaurants/Chada-Thai-Plantation" target="_blank"><%=image_tag("chada_dd_icon.png", class:"w3-image", style:"padding: 8px; height:48px; width:48px")%></a>
  </div>    
</div>
<!--  end of main contact -->


<!-- Menu Modal -->
<!-- some custom modal rule sets on w3-modal -->
<div id="menu" class="w3-modal" style="z-index:3;">
  <div class="w3-modal-content w3-animate-zoom">
    <!-- start of menu test code
    <div >
      <div >
      </div>
    </div>
    <!-- end of experiment -->

    <div class="w3-bar w3-chada-gold" id="topic" >
      <!--<a data-category="all" href="" class="w3-bar-item w3-button">All</a>-->
      <span data-category="appetizers" class="w3-border-chada-brown w3-bar-item w3-button w3-chada-brown" onclick="switch_view(this)">Appetizers</span>
      <span data-category="sushi" class="w3-border-chada-brown w3-bar-item w3-button" onclick="switch_view(this)">Sushi</span>
      <span data-category="salad_soup" class="w3-border-chada-brown w3-bar-item w3-button" onclick="switch_view(this)">Salads &amp; Soups</span>
      <span data-category="sig_rolls" class="w3-border-chada-brown w3-bar-item w3-button" onclick="switch_view(this)">Signature Rolls</span>
      <span data-category="chef_rolls" class="w3-border-chada-brown w3-bar-item w3-button" onclick="switch_view(this)">Chef's Special Rolls</span>
      <span data-category="kid_desserts" class="w3-border-chada-brown w3-bar-item w3-button" onclick="switch_view(this)">Kid's Menu &amp; Desserts</span>
      <span data-category="ffa" class="w3-border-chada-brown w3-bar-item w3-button" onclick="switch_view(this)">Noodles &amp; more</span>
      <span data-category="thai_curry" class="w3-border-chada-brown w3-bar-item w3-button" onclick="switch_view(this)">Thai &amp; Curry Dishes</span>
    </div>
    <!-- ///////////////////////       CD1.PSD        \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\   -->
    <div id ="salad_soup" style="display:none;padding-bottom:32px">    
      <div style="display:flex;justify-content:space-around;" class="w3-chada-gold">
        <h1 class="w3-chada-gold " style="display:flex;">Salads</h1><h1 class="w3-chada-gold " style="display:flex;">Soups</h1>
        <span onclick="document.getElementById('menu').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      </div>
      <div class="w3-cell-row">
      <!--********************|||||||||||||||||||||||||||||||||  LEFT COLUMN ||||||||||||||||||||||||| **********************-->
        <div class="w3-cell">
          <div class="w3-container" style="width:100%;">
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">House Salad</div><div class="price w3-col s3 w3-right-align"> 4.95</div> </div>
              <span>Served with ginger <br>or peanut dressing</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Seaweed Salad</div><div class="price w3-col s3 w3-right-align"> 5.95</div> </div>
              <span></span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Papaya Salad</div><div class="price w3-col s3 w3-right-align"> 8.95</div> </div>
              <span>Sliced papaya,tomato, <br>peanut, lime juice</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Larb Gai</div><div class="price w3-col s3 w3-right-align"> 9.95</div> </div>
              <span>Ground chicken, red onion, <br>mint, lime juice</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Yum Woonsen</div><div class="price w3-col s3 w3-right-align"> 9.95</div> </div>
              <span>Bean thread noodle, <br>ground chicken, shrimp <br>&amp; chili paste in our lime juice</span>
            </div>
            <!-- menu image -->
            <div class="menu_img" style="margin-top:16px;">
              <div>
                <%=image_tag("larb_gai.png", class:"w3-image", style:"z-index:3" )%>
                <div class="w3-container w3-card-4" style="z-index:5;">
                  <span class="img_desc_bg">Larb Gai</span>
                </div>
              </div>
            </div>
            <!-- menu image -->
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Seafood Salad</div><div class="price w3-col s3 w3-right-align"> 10.95</div> </div>
              <span>Shrimp, krab meat, cucumber,  <br>carrot, crunchy flakes &amp; avocado <br>with ginger or peanut dressing</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Thai Beef Salad <br>(Tiger's Tear)</div><div class="price w3-col s3 w3-right-align"> 9.95</div> </div>
              <span>Grilled beef, onions, scallions, <br>tomatoes, cucumber, bell peppers</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Nam Sod</div><div class="price w3-col s3 w3-right-align"> 8.95</div> </div>
              <span>Ground chicken, sliced ginger <br>onions, peanut, bell pepper </span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Shrimp Salad or Squid Salad</div><div class="price w3-col s3 w3-right-align"> 10.95</div> </div>
              <span>Served with seasoning and lime juice <br></span>
            </div>
          </div>
        </div>
        <!--********************|||||||||||||||||||||||||||||||||  END OF LEFT COLUMN ||||||||||||||||||||||||| **********************-->
        
        <!--********************|||||||||||||||||||||||||||||||||  RIGHT COLUMN ||||||||||||||||||||||||| **********************-->
        <div class="w3-cell" style="width:50%;">
          <div class="w3-container">
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Miso Soup</div><div class="price w3-col s3 w3-right-align"> 3.50</div> </div>
              <span>Soft Tofu, scallion, <br>seaweed in Miso Broth</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top dish-name">Tom Yum</div>
              <span>Lemon grass and herbs in a spicy <br>and sour broth</span>
              <div class="w3-row">
                <div class="alternate-price w3-col s10 w3-padding-left">VEGETABLE</div><div class="price w3-col s2 w3-right-align"> 4.50</div>
                <div class="alternate-price w3-col s10 w3-padding-left">CHICKEN</div><div class="price w3-col s2 w3-right-align"> 4.50</div>
                <div class="alternate-price w3-col s10 w3-padding-left">SHRIMP</div><div class="price w3-col s2 w3-right-align"> 5.50</div>
              </div>
            </div>
            <!-- menu image -->
            <div class="menu_img" style="margin-top:16px;">
              <div>
                <%=image_tag("soup_pic.png", class:"w3-image", style:"z-index")%>
                <div class="w3-container w3-card-4" style="z-index:5;">
                  <span class="img_desc_bg">Tom Kha</span>
                </div>
              </div>
            </div>
            <!-- menu image -->
            <div class="dish-item">
              <div class="w3-margin-top dish-name">Tom Kha</div>
              <span>Lemon grass soup and spices in <br>coconut milk broth</span>
              <div class="w3-row">  
                <div class="alternate-price w3-col s10 w3-padding-left">CHICKEN</div><div class="price w3-col s2 w3-right-align"> 4.95</div>
                <div class="alternate-price w3-col s10 w3-padding-left">SHRIMP</div><div class="price w3-col s2 w3-right-align"> 5.95</div>
              </div>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">King of the sea <br>(Tom yum)</div><div class="price w3-col s3 w3-right-align"> 7.95</div> </div>
              <span>Seafood, mushroom, lemon grass <br>soup &amp; spices in coconut broth</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">King of the sea <br>(Tom Kha)</div><div class="price w3-col s3 w3-right-align"> 8.95</div> </div>
              <span>Sesfood, tomatoes, mushroom,<br>scallions in hot &amp; sour<br>lemon grass broth</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Mixed Veggie</div><div class="price w3-col s3 w3-right-align"> 4.00</div> </div>
              <span>Mixed veggie with clear broth</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Chicken Soup</div><div class="price w3-col s3 w3-right-align"> 4.50</div> </div>
              <span>Chicken &amp; veggies with clear broth</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Wonton Soup</div><div class="price w3-col s3 w3-right-align"> 4.95</div> </div>
              <span>Minced chicken in pastries</span>
            </div>
          </div>
        </div>
        <!--********************|||||||||||||||||||||||||||||||||  END OF RIGHT COLUMN ||||||||||||||||||||||||| **********************-->
      </div>  <!--  end of cell row  -->
      <div class="w3-text-red w3-center w3-margin-top" id="CD1" style="padding:0.01em 16px"><span>Consuming raw or undercooked meat, poutry, seafood, shellfish, or eggs may increase your risk of food bourne illness</span></div>
    </div> <!-- end of view switcher container -->
    <!-- ************************  END OF CD1.PSD  ************************************************-->
    
    <!-- ///////////////////////       CD2.PSD        \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\   -->
    <div id="appetizers" style="display:block; padding-bottom:32px">
      <div style="display:flex;justify-content:space-around;" class="w3-chada-gold">
        <h1 class="w3-chada-gold w3-center " style="display:flex;">Kitchen Appetizers</h1>
        <span onclick="document.getElementById('menu').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      </div>     
      <div class="w3-cell-row">
        <!--|||||||||||||||||||||||||||||||||  LEFT COLUMN ||||||||||||||||||||||||| -->
        <div class="w3-cell">
          <div class="w3-container" style="width:100%;">
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Age Tofu</div><div class="price w3-col s3 w3-right-align"> 4.95</div> </div>
              <span>Crispy fried tofu with sweet and chill sauce</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Chicken Satay</div><div class="price w3-col s3 w3-right-align"> 7.95</div> </div>
              <span>Marinated chicken skewered on bamboo stick <br>served with cucumber and peanut sauce</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Crab Rangoon</div><div class="price w3-col s3 w3-right-align"> 6.95</div> </div>
              <span>Crispy stuffed cream cheese, celery and crab</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Edamame</div><div class="price w3-col s3 w3-right-align"> 4.95</div> </div>
              <span>Broiled soybean pods</span>
            </div>
            <!-- menu image -->
            <div class="menu_img" style="margin-top:16px;">
              <div>
                <%=image_tag("omg.png", class:"w3-image", style:"z-index:3")%>
                <div class="w3-container w3-card-4" style="z-index:5;">
                  <span class="img_desc_bg">Shrimp in the Blanket</span>
                </div>
              </div>
            </div>
            <!-- menu image -->          
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Soft Shell Crab</div><div class="price w3-col s3 w3-right-align"> 12.95</div> </div>
              <span>Deep fried soft shell crab served <br> with ponzu sauce</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Springs Rolls</div><div class="price w3-col s3 w3-right-align"> 4.95</div> </div>
              <span>Crispy spring roll filled with shredded <br>vegetables and rice</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Dumpling (Steamed or Fried)</div><div class="price w3-col s3 w3-right-align"> 6.95</div> </div>
              <span>Homemade stuffed shrimp, <br> chicken mushrooms, onion in wonton skin</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Shrimp in the Blanket</div><div class="price w3-col s3 w3-right-align"> 8.95</div> </div>
              <span>Crispy rolls stuffed chicken and shrimp</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Fried Calamari</div><div class="price w3-col s3 w3-right-align"> 8.95</div> </div>
              <span>Calamari panko breaded deep fried with sweet chili sauce</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Curry Puffs</div><div class="price w3-col s3 w3-right-align"> 6.95</div> </div>
              <span>Chicken, sweet potatoes, onions and curry powder <br>wrapped in a spring roll skin served refreshing <br>cucumber and peanut sauce</span>
            </div> 
          </div>  
        </div>
        <!--********************|||||||||||||||||||||||||||||||||  END OF LEFT COLUMN ||||||||||||||||||||||||| **********************-->
        
        <!--|||||||||||||||||||||||||||||||||  RIGHT COLUMN ||||||||||||||||||||||||| -->
        <div class="w3-cell" style="width:50%;">
          <div class="w3-container">
            <!-- menu image -->
            <div class="menu_img" style="margin-top:16px;">
              <div>
                <%=image_tag("summer_roll.png", class:"w3-image", style:"z-index:3")%>
                <div class="w3-container w3-card-4" style="z-index:5;">
                  <span class="img_desc_bg">Summer Roll</span>
                </div>
              </div>
            </div>
            <!-- menu image -->
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Summer Roll</div><div class="price w3-col s3 w3-right-align"> 6.95</div> </div>
              <span>Mixed vegetables wrapped in rice paper <br> served with sweet and chilli sauce</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Gyoza (Steamed or Fried)</div><div class="price w3-col s3 w3-right-align"> 5.95</div> </div>
              <span>Fried Japanese pork dumpling <br> Steamed or deep fried</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Tempura Appetizers</div></div>
              <span>Served with tempura sauce</span>
              <div class="w3-row">  
                <div class="alternate-price w3-col s10 w3-padding-left">Chicken &amp; Mixed Veggies</div><div class="price w3-col s2 w3-right-align"> 6.95</div>
                <div class="alternate-price w3-col s10 w3-padding-left">Shrimp &amp; Mixed Veggies</div><div class="price w3-col s2 w3-right-align"> 8.95</div>
              </div>
            </div>
            <!-- menu image -->
            <div class="menu_img" style="margin-top:16px;">
              <div>
                <%=image_tag("satay.png", class:"w3-image", style:"z-index:3")%>
                <div class="w3-container w3-card-4" style="z-index:5;">
                  <span class="img_desc_bg">Chicken Satay</span>
                </div>
              </div>
            </div>
            <!-- menu image -->
          </div>
        </div>
        <!--********************|||||||||||||||||||||||||||||||||  END OF RIGHT COLUMN ||||||||||||||||||||||||| **********************-->
      </div>  <!--  end of cell row  -->
      <div id="CD2" class="w3-text-black w3-center w3-margin-top"><span>Sharing Charge $3.00<br>18% Gratuity will be added to parties of six and up<br>PRICES ARE SUBJECT TO CHANGE WITHOUT NOTICE</span></div>
    </div> <!-- end of view switcher container -->
    <!-- ************************  END OF CD2.PSD  ************************************************-->
 
    <!-- ************************  CD3.PSD  ************************************************-->  
    <div id="sushi" style="display:none; padding-bottom:32px">
      <div style="display:flex;justify-content:space-around;" class="w3-chada-gold">
        <h1 class="w3-chada-gold w3-center " style="display:flex; ">Sushi</h1>
        <span onclick="document.getElementById('menu').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      </div>    
      <div class="w3-cell-row">
        <!--|||||||||||||||||||||||||||||||||  LEFT COLUMN ||||||||||||||||||||||||| -->
        <div class="w3-cell">
          <div class="w3-container" style="width:100%;">
            <!-- menu image -->
            <div class="menu_img" style="margin-top:16px;">
              <div>
                <%=image_tag("salmon.png", class:"w3-image", style:"z-index:3")%>
                <div class="w3-container w3-card-4" style="z-index:5;">
                  <span class="img_desc_bg">Sushi &amp; Sashimi</span>
                </div>
              </div>
            </div>
            <!-- menu image -->
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Tuna Sashimi Appetizer</div><div class="price w3-col s3 w3-right-align"> 10.95</div> </div>
              <span>9 slices of tuna</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Salmon Sashimi Appetizer</div><div class="price w3-col s3 w3-right-align"> 10.95</div> </div>
              <span>9 slices of salmon</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Sushi Sampler</div><div class="price w3-col s3 w3-right-align"> 10.95</div> </div>
              <span>Tuna, salmon, 2 white fish, kani, shrimp</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Sashimi Appetizers Sampler</div><div class="price w3-col s3 w3-right-align"> 10.95</div> </div>
              <span>3 Tuna, 3 salmon, 3 white fish</span>
            </div>
            <div class="dish-item">     
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Spice Tuna Tartar</div><div class="price w3-col s3 w3-right-align"> 12.95</div> </div>
              <span> Chopped tuna, scallions japanese <br>spicy sauce and seasme seed</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Tuna Tatki</div><div class="price w3-col s3 w3-right-align"> 10.95</div> </div>
              <span>Thin Slices of seared tuna<br> served with Ponzu sauce</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Seafood Sunomono</div><div class="price w3-col s3 w3-right-align"> 9.95</div> </div>
              <span>Octopus, Conch, Shrimp, <br>Kani with cucumber in tangy rice vinegar</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Spicy Salad Tuna/Salmon</div><div class="price w3-col s3 w3-right-align"> 10.95</div> </div>
              <span>Tuna or Salmon, Japanese Spicy Sauce, <br>cucumber, carrots, tomatoes, <br> spinach, scallions, sesame seed </span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Spicy Conch or Octopus</div><div class="price w3-col s3 w3-right-align"> 8.95</div> </div>
              <span>Conch or Octopus, masako,<br> scallion &amp; cucmber with a spicy sauce </span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Spicy Ocean</div><div class="price w3-col s3 w3-right-align"> 9.95</div> </div>
              <span>Conch and octopus, masago, scalion &amp; <br>cucmber with a spicy sauce</span>
            </div> 
          </div> 
        </div>
        <!--********************|||||||||||||||||||||||||||||||||  END OF LEFT COLUMN ||||||||||||||||||||||||| **********************-->
        
        <!--|||||||||||||||||||||||||||||||||  RIGHT COLUMN ||||||||||||||||||||||||| -->
        <div class="w3-cell" style="width:50%;">
          <div class="w3-container">
            <!-- menu image -->
            <div class="menu_img" style="margin-top:16px;">
              <div>
                <%=image_tag("kansie.png", class:"w3-image", style:"z-index:3")%>
                <div class="w3-container w3-card-4" style="z-index:5;">
                  <span class="img_desc_bg">Kanisu</span>
                </div>
              </div>
            </div>
            <!-- menu image -->
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Fantasy Roll</div><div class="price w3-col s3 w3-right-align"> 9.95</div> </div>
              <span>Spicy krab, salmon &amp; carrots <br> served with rice vinegar sauce</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Kanisu Roll</div><div class="price w3-col s3 w3-right-align"></div> </div>
              <span>Kani, avocado, fish eggs <br>served with rice vinegar sauce</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">K.C. Roll</div><div class="price w3-col s3 w3-right-align"> 8.95</div></div>
              <span>Salmon, krab, avocado, asparagus <br> cream cheese with masago &amp; scallion</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Rainbow Ocean Roll</div><div class="price w3-col s3 w3-right-align"> 12.95</div> </div>
              <span>Kani, avocado, fish eggs, tuna, <br> Salmon and white fish</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Tuna Ocean Roll</div><div class="price w3-col s3 w3-right-align"> 10.95</div> </div>
              <span>Tuna, asparagus, avocado, <br>fish eggs, ponzo sauce</span>
            </div>  
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Salmon Ocean Roll</div><div class="price w3-col s3 w3-right-align"> 9.95</div> </div>
              <span>Salmon, asparagus, avocado, <br>fish eggs, ponzo sauce</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Sunshine Roll</div><div class="price w3-col s3 w3-right-align"> 10.95</div> </div>
              <span>Krab, shrimp, tamgo, avocado &amp; masago <br>with rice vinegar sauce</span>
            </div>           
          </div>
        </div>
      </div>
    </div> <!-- end of view switcher container -->
    <!-- ************************  END OF CD3.PSD  ************************************************-->


    <!-- ************************  CD4.PSD  ************************************************--> 
    <div id="sig_rolls" style="display:none; padding-bottom:32px">
      <div style="display:flex;justify-content:space-around;" class="w3-chada-gold">
        <h1 class="w3-chada-gold " style="display:flex;">Signature Rolls</h1><h1 class="w3-chada-gold" style="display:flex;">Rolls</h1>
        <span onclick="document.getElementById('menu').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      </div>    
      <div class="w3-cell-row">
        <!--|||||||||||||||||||||||||||||||||  LEFT COLUMN ||||||||||||||||||||||||| -->
        <div class="w3-cell" style="width:50%;" >
          <div class="w3-container">
            <!-- menu image -->
            <div class="menu_img" style="margin-top:16px;">
              <div>
                <%=image_tag("rainbow_roll.png", class:"w3-image", style:"z-index:3")%>
                <div class="w3-container w3-card-4" style="z-index:5;">
                  <span class="img_desc_bg">Rainbow Roll</span>
                </div>
              </div>
            </div>
            <!-- menu image -->
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">American Dream Roll</div><div class="price w3-col s3 w3-right-align"> 10.95</div> </div>
              <span>Shrimp, tempura, lettuce, cucumber, masago, mayo &amp; avocado</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Bangkok Roll</div><div class="price w3-col s3 w3-right-align"> 10.95</div> </div>
              <span>Assorted fish, cheese, scallion, cilantro &amp; masago</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Boston Roll</div><div class="price w3-col s3 w3-right-align"> 10.95</div> </div>
              <span>Shrimp, cucumber, lettuce, avocado, mayo &amp; masago</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Crazy Roll</div><div class="price w3-col s3 w3-right-align"> 10.95</div> </div>
              <span>Salmon skin, eel, asparagus, avocado, scallion, masago &amp; mayo</span>
            </div>
            <div class="dish-item">     
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">KFC Roll</div><div class="price w3-col s3 w3-right-align"> 12.95</div> </div>
              <span>Chicken, tempura, with eel sauce</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Dancing Eel Roll</div><div class="price w3-col s3 w3-right-align"> 10.95</div> </div>
              <span>Kani, cucumber, avocado &amp; masago topped with<br>eel &amp; eel sauce</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Red Dragon Roll</div><div class="price w3-col s3 w3-right-align"> 9.95</div> </div>
              <span></span>
            </div>
            <!-- menu image -->
            <div class="menu_img" style="margin-top:16px;">
              <div>
                <%=image_tag("dragon_roll.png", class:"w3-image", style:"z-index:3")%>
                <div class="w3-container w3-card-4" style="z-index:5;">
                  <span class="img_desc_bg">Red Dragon Roll</span>
                </div>
              </div>
            </div>
            <!-- menu image -->          
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">J.B. Tempura Roll</div><div class="price w3-col s3 w3-right-align"> 10.95</div> </div>
              <span>Deep fried salmon, scallions &amp; cream cheese</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Shrimp Tempura Roll</div><div class="price w3-col s3 w3-right-align"> 8.95</div> </div>
              <span>Shrimp tempura, asparagus, avocado, scallions, masago &amp; mayo with eel sauce</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Rainbow Roll</div><div class="price w3-col s3 w3-right-align"> 9.95</div> </div>
              <span>Assorted fish on top of California roll with sauce</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Mexican Roll</div><div class="price w3-col s3 w3-right-align"> 9.95</div> </div>
              <span>Shrimp Tempura, cucumber, avocado, scallion, masago &amp; mayo</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Volcano Roll</div><div class="price w3-col s3 w3-right-align"> 9.95</div> </div>
              <span>Avocado, masago, scallions, cheese, cucumber with baked seafood on top</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Spider Roll</div><div class="price w3-col s3 w3-right-align"> 9.95</div> </div>
              <span>Soft shell crab tempura, cream cheese, avocado, fish egg, spicy mayo, eel sauce</span>
            </div>   
            <!-- menu image -->
            <div class="menu_img" style="margin-top:16px;">
              <div>
                <%=image_tag("salmon_hand.png", class:"w3-image", style:"z-index:3")%>
                <div class="w3-container w3-card-4" style="z-index:5;">
                  <span class="img_desc_bg">Salmon Hand Roll</span>
                </div>
              </div>
            </div>
            <!-- menu image -->
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Spicy Tuna Roll</div><div class="price w3-col s3 w3-right-align"> 9.95</div> </div>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Vegetable Roll</div><div class="price w3-col s3 w3-right-align"></div> </div>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Salmon Skin Roll</div><div class="price w3-col s3 w3-right-align"> 8.95</div></div>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Eel Roll</div><div class="price w3-col s3 w3-right-align"> 12.95</div> </div>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Tekka Roll</div><div class="price w3-col s3 w3-right-align"> 10.95</div> </div>
            </div>  
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Salmon Roll</div><div class="price w3-col s3 w3-right-align"> 9.95</div> </div>
              <span>Salmon &amp; scallion</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Hamachi Roll</div><div class="price w3-col s3 w3-right-align"> 10.95</div> </div>
            </div>            
          </div> 
        </div>
        <!--********************|||||||||||||||||||||||||||||||||  END OF LEFT COLUMN ||||||||||||||||||||||||| **********************-->
        
        <!--|||||||||||||||||||||||||||||||||  RIGHT COLUMN ||||||||||||||||||||||||| -->
        <div class="w3-cell" style="width:50%;">
          <div class="w3-container">
            <h2 class="w3-chada-gold">Sushi/Sashimi</h2>  
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Hokkigai (Quail egg) </div><div class="price w3-col s3 w3-right-align">  1.50 per piece</div></div>
              </div> 
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Imitation Crab</div><div class="price w3-col s3 w3-right-align"> 2.50</div></div>
              </div>
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Octopus</div><div class="price w3-col s3 w3-right-align"> 2.75</div> </div>
              </div> 
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Shrimp</div><div class="price w3-col s3 w3-right-align"> 2.25</div> </div>
              </div>
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Tuna</div><div class="price w3-col s3 w3-right-align"> 2.75</div> </div>
              </div> 
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Salmon</div><div class="price w3-col s3 w3-right-align"> 2.50</div></div>
              </div>
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Escolar</div><div class="price w3-col s3 w3-right-align"> 2.75</div> </div>
              </div> 
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Wanoo</div><div class="price w3-col s3 w3-right-align"> 2.50</div> </div>
              </div>
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Ikura</div><div class="price w3-col s3 w3-right-align"> 3.50</div> </div>
              </div> 
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Sweet Shrimp</div><div class="price w3-col s3 w3-right-align"> 3.95</div></div>
              </div>
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Tamago</div><div class="price w3-col s3 w3-right-align"> 2.50</div> </div>
              </div> 
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Inari</div><div class="price w3-col s3 w3-right-align"> 2.75</div> </div>
              </div>
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Conch</div><div class="price w3-col s3 w3-right-align"> 2.75</div> </div>
              </div> 
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Masago (fish egg)</div><div class="price w3-col s3 w3-right-align"> 3.25</div></div>
              </div>
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Yellowtail</div><div class="price w3-col s3 w3-right-align"> 3.50</div> </div>
              </div> 
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Smoked eel</div><div class="price w3-col s3 w3-right-align"> 3.50</div> </div>
              </div>
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Squid</div><div class="price w3-col s3 w3-right-align"> 3.50</div> </div>
              </div> 
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Uni (sea urchin)</div><div class="price w3-col s3 w3-right-align"> Market price</div></div>
              </div>
              <!-- menu image -->
              <div class="menu_img" style="margin-top:16px;">
                <div>
                  <%=image_tag("sushi.png", class:"w3-image", style:"z-index:3")%>
                  <div class="w3-container w3-card-4" style="z-index:5;">
                    <span class="img_desc_bg">Sushi</span>
                  </div>
                </div>
              </div>
            <h2 class="w3-chada-gold">Vegetarian rolls</h2>
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Avocado Roll</div><div class="price w3-col s3 w3-right-align"> 4.95</div> </div>
              </div> 
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Cucumber Roll</div><div class="price w3-col s3 w3-right-align"> 4.95</div></div>
              </div>
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Veggie Roll</div><div class="price w3-col s3 w3-right-align"> 4.95</div> </div>
              </div> 
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Asparagus Roll</div><div class="price w3-col s3 w3-right-align"> 4.95</div> </div>
              </div>
              <h2 class="w3-chada-gold">Teriyaki</h2>
              <div class="dish-item">
                    <span>Served with soup of the day or salad &amp; white rice</span>
                    <span>Extra $1 for brown rice</span>
              </div>
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Chicken teriyaki</div><div class="price w3-col s3 w3-right-align"> 14.95</div></div>
              </div> 
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Steak teriyaki</div><div class="price w3-col s3 w3-right-align"> 16.95</div></div>
              </div>
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Fish teriyaki</div><div class="price w3-col s3 w3-right-align"> 16.95</div> </div>
                <span>Catch of the day</span>
              </div> 
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Salmon teriyaki</div><div class="price w3-col s3 w3-right-align"> 17.95</div> </div>
              </div>
            <h2 class="w3-chada-gold">Katsu</h2>
              <div class="dish-item">
                    <span>Panko breaded deep fried with katsu sauce</span>
                    <span>Served with soup of the day or salad &amp; white rice</span>
                    <span>Extra $1 for brown rice</span>
              </div>
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Chicken katsu</div><div class="price w3-col s3 w3-right-align"> 14.95</div> </div>
              </div> 
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Fish katsu</div><div class="price w3-col s3 w3-right-align"> 16.95</div></div>
              </div>
            <h2 class="w3-chada-gold">Tempura</h2>
              <div class="dish-item">
                    <span>Lightly battered deep fried served with tempura sauce</span>
                    <span>Served with soup of the day or salad &amp; white rice</span>
                    <span>Extra $1 for brown rice</span>
              </div>
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Mixed Vegetables</div><div class="price w3-col s3 w3-right-align"> 12.95</div> </div>
              </div> 
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Chicken &amp; vegetables</div><div class="price w3-col s3 w3-right-align"> 14.95</div> </div>
              </div>
              <div class="dish-item">
                <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Shrimp &amp; vegetables</div><div class="price w3-col s3 w3-right-align"> 16.95</div> </div>
              </div>            
          </div>
        </div>
      </div>
    </div> <!-- end of view switcher container -->
    <!-- ************************  END OF CD4.PSD  ************************************************-->
    
    <!-- ************************  CD5.PSD  ************************************************--> 
    <div id="chef_rolls" style="display:none; padding-bottom:32px">
      <div style="display:flex;justify-content:space-around;" class="w3-chada-gold">
        <h1 class="w3-chada-gold " style="display:flex;">Combination</h1><h1 class="w3-chada-gold" style="display:flex;">Chef's Special Rolls</h1>
        <span onclick="document.getElementById('menu').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      </div>    
      <div class="w3-cell-row">
        <!--|||||||||||||||||||||||||||||||||  LEFT COLUMN ||||||||||||||||||||||||| -->
        <div class="w3-cell" style="width:50%;" >
          <div class="w3-container">
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Black Dragon Roll</div><div class="price w3-col s3 w3-right-align"> 14.95</div> </div>
              <span>Shrimp tempura, asparagus, avocado, fish egg, topped with eel &amp; Mayo with eel and Kimchee Sauce</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Red Dragon Roll</div><div class="price w3-col s3 w3-right-align"> 14.95</div> </div>
              <span>Shrimp tempura, eel, avocado, cream cheese, tuna topped with mayo, eel &amp; kimchee sauce</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Hot Tuna Sandwich Roll</div><div class="price w3-col s3 w3-right-align"> 12.95</div> </div>
              <span>Spicy Tuna, lettuce, tomatoes, tempura flakes</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Tuna Lover Roll</div><div class="price w3-col s3 w3-right-align"> 12.95</div> </div>
              <span>Spicy tuna topped with tuna and avocado</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Pyramid Bomb</div><div class="price w3-col s3 w3-right-align"> 14.95</div> </div>
              <span>Salmon, scallion, cream cheese, kani, deep fried, topped with kani and eel sauce</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Miami Heat Roll</div><div class="price w3-col s3 w3-right-align"> 12.95</div> </div>
              <span>Tuna, Salmon, white fish, cream cheese, cucumber, scallion, avocado &amp; fish egg</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Snow White Roll</div><div class="price w3-col s3 w3-right-align"> 12.95</div> </div>
              <span>Kani, cucumber, avocado, fish egg, spicy mayo, wrapped with soy paper</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Sweet Heart Roll</div><div class="price w3-col s3 w3-right-align"> 12.95</div> </div>
              <span>Shrimp, eel, kani, cream cheese, fish egg, deep fried tempura, with eel sauce</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Sexy Roll</div><div class="price w3-col s3 w3-right-align"> 14.95</div> </div>
              <span>Tempura shrimp, asparagus, avocado, scallion, fish egg, tempura flakes</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Lobster Bomb Roll</div><div class="price w3-col s3 w3-right-align"> 24.95</div> </div>
              <span>Lobster tails, lettuce, avocado, cucumber, fish egg, with mayo, eel &amp; kimchee sauce</span>
            </div>
          </div> 
        </div>
        <!--********************|||||||||||||||||||||||||||||||||  END OF LEFT COLUMN ||||||||||||||||||||||||| **********************-->
        
        <!--|||||||||||||||||||||||||||||||||  RIGHT COLUMN ||||||||||||||||||||||||| -->
        <div class="w3-cell" style="width:50%;">
          <div class="w3-container">
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Mini Boat (Boat for one)</div><div class="price w3-col s3 w3-right-align"> 24.95</div> </div>
              <span>6 pcs of assorted sushi, 12 pcs of assorted sashimi &amp; california roll</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Love Boat (Boat for two)</div><div class="price w3-col s3 w3-right-align"> 49.95</div></div>
              <span>12 pcs of assorted sushi, 16 pcs of assorted sashimi, california roll &amp; JB roll</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Party Boat (Boat for three)</div><div class="price w3-col s3 w3-right-align"> 75.95</div></div>
              <span>16 pcs of assorted sushi, 20 pcs of assorted sashimi, california roll, JB roll &amp; tuna roll</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Titanic Boat (Boat for four)</div><div class="price w3-col s3 w3-right-align"> 95.95</div> </div>
              <span>20 pcs of assorted sushi, 24 pcs of assorted sashimi, california roll, JB roll &amp; shrimp tempura roll</span>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end of view switcher container -->
    <!-- ************************  END OF CD5.PSD  ************************************************-->
   
    <!-- ************************  CD7.PSD  ************************************************-->
    <div id="thai_curry" style="display:none; padding-bottom:32px">
      <div style="display:flex;flex-direction:column;">
        <div style="display:flex;justify-content:space-around;" class="w3-chada-gold">
          <h1 class="w3-chada-gold " style="display:flex;">Thai Dishes</h1><h1 class="w3-chada-gold " style="display:flex;">Curry</h1>
          <span onclick="document.getElementById('menu').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
        </div>
        <div style="display:flex;flex-direction:row;">
        <!--|||||||||||||||||||||||||||||||||  LEFT COLUMN ||||||||||||||||||||||||| -->
          <div class="w3-container" style="display:flex;flex-direction:column;">
            <div class="choice">
              <div class="item_combo">
                <div style="display:inline">Served with <div class="soup">soup</div> of the day or <div class="salad">salad</div> &amp; white rice (Extra $1 for <div class="brown_rice">brown rice</div>) with a choice of meat. </div>
              </div>  
              <span>Meat Selection:</span>
              <div class="flex-container">
                <div class="flex1"><div class="flex11">Chicken, beef, pork or tofu</div><div class="flex12">Shrimp or squid</div><div>Seafood</div><div>Scallop</div></div>
                <div class="flex2"><div class="flex21">13.95</div><div class="flex22">14.95</div><div>15.95</div><div>21.95</div></div>
              </div>
            </div>
            <div class="dish-item ">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Broccoli</div><div class="price w3-col s3 w3-right-align"></div> </div>
              <span>Stir fried fresh broccoli with brown sauce</span>
            </div>
            <div class="dish-item ">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Cashew Nut</div><div class="price w3-col s3 w3-right-align"></div> </div>
              <span>Stir fried carrot, onions, celery &amp; cashew nut</span>
            </div>
            <!-- menu image -->
            <div class="menu_img" style="margin-top:16px;">
              <div>
                <%=image_tag("cashew_nut.png", class:"w3-image", style:"z-index:3")%>
                <div class="w3-container w3-card-4" style="z-index:5;">
                  <span class="img_desc_bg">Cashew Nut</span>
                </div>
              </div>
            </div>
            <!-- menu image -->
            <div class="dish-item ">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Ginger Sauce</div><div class="price w3-col s3 w3-right-align"></div> </div>
              <span>Stir fried onion, red peppers, broccoli, pineapple &amp; cucumber</span>
            </div>
            <div class="dish-item ">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Basil Sauce</div><div class="price w3-col s3 w3-right-align"> </div> </div>
              <span>Stir fried fresh red bell peppers, onions, green bean &amp; basil</span>
            </div>
            <div class="dish-item ">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Garlic Sauce</div><div class="price w3-col s3 w3-right-align"> </div> </div>
              <span>Stir fried fresh garlic, mixed vegetables with brown sauce </span>
            </div>
            <div class="dish-item ">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Mixed Vegetables</div><div class="price w3-col s3 w3-right-align"> </div> </div>
              <span>Stir fried mixed vegetables with brown sauce</span>
            </div>
            <!-- menu image -->
            <div class="menu_img" style="margin-top:16px;">
              <div>
                <%=image_tag("mixed_veg.png", class:"w3-image", style:"z-index:3")%>
                <div class="w3-container w3-card-4" style="z-index:5;">
                  <span class="img_desc_bg">Mixed Vegetables</span>
                </div>
              </div>
            </div>
            <!-- menu image -->
            <div class="dish-item ">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Sweet &amp; Sour Sauce</div><div class="price w3-col s3 w3-right-align"> </div> </div>
              <span>Stir fried onion, red peppers, pineapple &amp; cucumber</span>
            </div>
            <div class="dish-item ">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Peanut Sauce</div><div class="price w3-col s3 w3-right-align"> </div> </div>
              <span>Stir fried mixed vegetables with peanut sauce</span>
            </div>
            <div class="dish-item ">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Sweet Red Chili Sauce</div><div class="price w3-col s3 w3-right-align"> </div> </div>
              <span>Homemade chili sauce stir fried with red peppers</span>
            </div>
          </div>
          <!--********************|||||||||||||||||||||||||||||||||  END OF LEFT COLUMN ||||||||||||||||||||||||| **********************-->
          
          <!--|||||||||||||||||||||||||||||||||  RIGHT COLUMN ||||||||||||||||||||||||| -->
          <div class="w3-container" style="display:flex;flex-direction:column;">
            <div class="choice">
              <div class="item_combo">
                <div style="display:inline">Served with <div class="soup">soup</div> of the day or <div class="salad">salad</div> &amp; white rice (Extra $1 for <div class="brown_rice">brown rice</div>) with a choice of meat. </div>
              </div>
              <span>Meat Selection:</span>
              <div class="flex-container">
                <div class="flex1"><div class="flex11">Chicken, beef, pork or tofu</div><div class="flex12">Shrimp, squid or Scallop</div></div>
                <div class="flex2"><div class="flex21">14.95</div><div class="flex22">16.95</div></div>
              </div>              
            </div>
            <div class="dish-item ">
              <div class="w3-margin-top w3-row"><div class="dish-name">Red Curry</div></div>
              <span>Curry paste, coconut milk, red bell peppers, bamboo shoots, sweet pea &amp; zucchini</span>
            </div>
            <div class="dish-item ">
              <div class="w3-margin-top w3-row"><div class="dish-name">Green Curry</div></div>
              <span>Curry paste, coconut milk, bamboo shoots, bell peppers &amp; swee</span>
            </div>
            <div class="dish-item ">
              <div class="w3-margin-top w3-row"><div class="dish-name">Panang Curry</div></div>
              <span>Curry paste, red bell pepper, peanut, green bell, green bean &amp; coconut milk</span>
            </div>
            <div class="dish-item ">
              <div class="w3-margin-top w3-row"><div class="dish-name">Massaman Curry</div></div>
              <span>Onions, bell pepper, sweet tomato, cashew nut &amp; coconut milk</span>
            </div>
            <!-- menu image -->
            <div class="menu_img" style="margin-top:16px;">
              <div>
                <%=image_tag("masaman.png", class:"w3-image", style:"z-index:3")%>
                <div class="w3-container w3-card-4" style="z-index:5;">
                  <span class="img_desc_bg">Massaman</span>
                </div>
              </div>
            </div>
            <!-- menu image -->
          </div>
        </div>
      </div>
      <div id="CD7" class="w3-text-red w3-center w3-margin-top">Spice your dishes with your choice of:<br>MILD, MEDIUM, HOT, THAI HOT</div>
    </div> <!-- end of view switcher container -->
    <!-- ************************  END OF CD7.PSD  ************************************************-->
    
    <!-- ************************  CD8.PSD  *******************************************************-->
    <div id="ffa" style="display:none; padding-bottom:32px">
      <div style="display:flex;justify-content:space-around;" class="w3-chada-gold">
        <h1 class="w3-chada-gold " style="display:flex;">Stir-Fried Noodle Dishes</h1><h1 class="w3-chada-gold " style="width:50%; text-align:center">Duck</h1>
        <span onclick="document.getElementById('menu').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      </div>
      <div class="w3-cell-row">
        <!--|||||||||||||||||||||||||||||||||  LEFT COLUMN ||||||||||||||||||||||||| -->
        <div class="w3-cell" style="width:50%;" >
          <div class="w3-container">
            <div style="font-weight:bold;">Choice of:<br></div>
            <div class="w3-row">
              <div class="w3-col s9 items_choices">Chicken, beef, pork, or tofu</div><div class="w3-col s3 w3-right-align price"> 12.95</div>
              <div class="w3-col s9 items_choices">Shrimp or squid</div><div class="w3-col s3 w3-right-align price"> 15.95</div>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Pad Thai</div><div class="price w3-col s3 w3-right-align"></div> </div>
              <span>Stir-fried rice noodles with egg, bean sprouts, scallions &amp; ground peanuts</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Pad Woonsen</div><div class="price w3-col s3 w3-right-align"></div> </div>
              <span>Clear noodles, egg, tomatoes, baby corn, onions, and scallions</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Pad See Eaw</div><div class="price w3-col s3 w3-right-align"></div> </div>
              <span>Stir-fried rice noodles with egg &amp; broccoli with brown sauce</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Pad Kee Mao</div><div class="price w3-col s3 w3-right-align"></div> </div>
              <span>Spicy stir-fried rice noodles with mixed vegetables &amp; fresh basil leaves</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Yaki Soba</div><div class="price w3-col s3 w3-right-align"></div> </div>
              <span>Stir-fried egg noodle, vegetables, with brown sauce</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Yaki Udon</div><div class="price w3-col s3 w3-right-align"></div> </div>
              <span>Stir-fried soybean noodle &amp; vegetables with brown sauce</span>
            </div>
            <!-- menu image -->
            <div class="menu_img" style="margin-top:16px;">
              <div>
                <%=image_tag("pad_thai.png", class:"w3-image", style:"z-index:3")%>
                <div class="w3-container w3-card-4" style="z-index:5;">
                  <span class="img_desc_bg">Pad Thai</span>
                </div>
              </div>
            </div>
            <!-- menu image -->
            <h2 class="w3-chada-gold">Noodle World Soups</h2>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Duck Noodle Soup</div><div class="price w3-col s3 w3-right-align"> 13.95</div></div>
              <span>Roasted duck, egg, noodles, bean sprouts, scallions &amp; roasted garlic</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Chicken Noodle Soup</div><div class="price w3-col s3 w3-right-align"> 10.95</div></div>
              <span>Chicken, bean sprouts, scallions, rice noodles, roasted garlic</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Tempura Udon Soup</div><div class="price w3-col s3 w3-right-align"> 12.95</div></div>
              <span>Thick wheat noodles, broccoli, carrot, snow peas in soy broth served with shrimp &amp; asparagus tempura</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Tom Yum Noodle Soup</div><div class="price w3-col s3 w3-right-align"></div></div>
              <div class="w3-margin-top w3-row">
                <div class="w3-col s9 items_choices">Pork &amp; Chicken</div><div class="price w3-col s3 w3-right-align">10.95</div>
                <div class="w3-col s9 items_choices">Shrimp &amp; Beef</div><div class="price w3-col s3 w3-right-align">12.95</div>
                <div class="w3-col s9 items_choices">Mixed Seafood</div><div class="price w3-col s3 w3-right-align">19.95</div>
              </div>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Thai Noodle Soup</div><div class="price w3-col s3 w3-right-align"></div> </div>
              <div class="w3-margin-top w3-row">
                <div class="w3-col s9 items_choices">Beef</div><div class="w3-col s3 price w3-right-align">12.95</div>
                <div class="w3-col s9 items_choices">Shrimp</div><div class="w3-col s3 price w3-right-align">14.95</div>
              </div>
            </div>
          </div> 
        </div>
        <!--********************|||||||||||||||||||||||||||||||||  END OF LEFT COLUMN ||||||||||||||||||||||||| **********************-->
        
        <!--|||||||||||||||||||||||||||||||||  RIGHT COLUMN ||||||||||||||||||||||||| -->
        <div class="w3-cell" style="width:50%;">
          <div class="w3-container">
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Crispy Duck</div><div class="price w3-col s3 w3-right-align"> 19.95</div> </div>
              <span>Choice of ginger or basil sauce</span>
              <span>Served with soup of the day or salad &amp; white rice</span>
              <span>Extra $1 for brown rice</span>
            </div>
            <h2 class="w3-chada-gold">Fried Rice</h2>
            <div class="dish-item">
              <span>With eggs, onions, peas, carrots, tomatoes<span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Mixed Vegetables</div><div class="price w3-col s3 w3-right-align"> 11.95</div></div>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Chicken ,beef or tofu</div><div class="price w3-col s3 w3-right-align"> 12.95</div></div>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Shrimp or squid</div><div class="price w3-col s3 w3-right-align"> 14.95</div> </div>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Combination</div><div class="price w3-col s3 w3-right-align"> 16.95</div> </div>
              <span>Shrimp, pork, beef, chicken</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Basil</div><div class="price w3-col s3 w3-right-align"> </div> </div>
              <div class="w3-row"><div class="dish-name w3-col s9">Chicken, vegetables, beef, pork, tofu</div><div class="price w3-col s3 w3-right-align"> 13.95</div></div>
              <div class="w3-row"><div class="dish-name w3-col s9">Shrimp or squid</div><div class="price w3-col s3 w3-right-align"> 15.95</div></div>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Combination Pineapple</div><div class="price w3-col s3 w3-right-align"> 18.95</div> </div>
              <span>Pineapple, cashew nut, raisin, shrimp, pork, beef, chicken</span>
            </div>
            <!-- menu image -->
            <div class="menu_img" style="margin-top:16px;">
              <div>
                <%=image_tag("pine_combo.png", class:"w3-image", style:"z-index:3")%>
                <div class="w3-container w3-card-4" style="z-index:5;">
                  <span class="img_desc_bg">Combo Pineapple Fried Rice</span>
                </div>
              </div>
            </div>
            <!-- menu image -->
            <h2 class="w3-chada-gold">Side Orders</h2>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Salad</div><div class="price w3-col s3 w3-right-align"> 2.50</div> </div>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Soup of day</div><div class="price w3-col s3 w3-right-align"> 2.50</div> </div>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Jasmin Rice</div><div class="price w3-col s3 w3-right-align"> 2.00</div> </div>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Brown Rice</div><div class="price w3-col s3 w3-right-align"> 2.50</div> </div>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Sushi</div><div class="price w3-col s3 w3-right-align"> 2.50</div> </div>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Eel Sauce</div><div class="price w3-col s3 w3-right-align"> 1.00</div> </div>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Spicy Mayo</div><div class="price w3-col s3 w3-right-align"> 1.00</div> </div>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Kimchee Sauce</div><div class="price w3-col s3 w3-right-align"> 1.00</div> </div>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Ponzu Sauce</div><div class="price w3-col s3 w3-right-align"> 1.00</div> </div>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Ginger</div><div class="price w3-col s3 w3-right-align"> 1.00</div> </div>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Wasabi</div><div class="price w3-col s3 w3-right-align"> 1.00</div> </div>
            </div>
          </div>
        </div>
      </div>
      <div id="CD8"class="w3-text-red w3-center w3-margin-top">Spice your dishes with your choice of:<br>MILD, MEDIUM, HOT &amp; THAI HOT</div>
    </div> <!-- end of view switcher container -->
    <!-- ************************  END OF CD8.PSD  ************************************************-->
    
    <!-- ************************  CD9.PSD  ************************************************--> 
    <div id="kid_desserts" style="display:none; padding-bottom:32px">
      <div style="display:flex;justify-content:space-around;" class="w3-chada-gold">
        <h1 class="w3-chada-gold " style="display:flex;">Kid's Menu</h1><h1 class="w3-chada-gold " style="display:flex;">Desserts</h1>
        <span onclick="document.getElementById('menu').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      </div>
      <div class="w3-text-red w3-center w3-margin-top w3-xlarge" id="CD1">(Age 12 and under) Served with ice cream</div>
      <div class="w3-cell-row">
        <!--|||||||||||||||||||||||||||||||||  LEFT COLUMN ||||||||||||||||||||||||| -->
        <div class="w3-cell" style="width:50%;" >
          <div class="w3-container">
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Chicken Katsu Box</div><div class="price w3-col s3 w3-right-align"></div></div>
              <span>Chicken katsu, french fries, rice, edamame</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Chicken Teriyaki Box</div><div class="price w3-col s3 w3-right-align"></div></div>
              <span>Chicken teriyaki, french fries, rice, edamame</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Chicken Tempura Box</div><div class="price w3-col s3 w3-right-align"></div> </div>
              <span>Chicken Tempura Box</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Steak Teriyaki Box</div><div class="price w3-col s3 w3-right-align"></div> </div>
              <span>Steak teriyaki, french fries, rice, edamame</span>
            </div>
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Sushi for Kids</div><div class="price w3-col s3 w3-right-align"></div> </div>
              <span>California roll, kani sushi, tamago sushi, shrimp sushi &amp; edamame</span>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Kid's Noodle</div><div class="price w3-col s3 w3-right-align"></div></div>
              <span>Shrimp chips, french fries, &amp; white rice</span>
            </div>
            <!-- menu image -->
            <div class="menu_img"><%=image_tag("hello_kitty.png", class:"w3-card w3-cell-middle w3-image w3-image", style:"margin:16px auto 0px auto")%></div>
            <!-- menu image -->
          </div> 
        </div>
        <!--********************|||||||||||||||||||||||||||||||||  END OF LEFT COLUMN ||||||||||||||||||||||||| **********************-->
        
        <!--|||||||||||||||||||||||||||||||||  RIGHT COLUMN ||||||||||||||||||||||||| -->
        <div class="w3-cell" style="width:50%;">
          <div class="w3-container">
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Vanilla Ice Cream Tempura (Vanilla)</div><div class="price w3-col s3 w3-right-align"> 5.95</div> </div>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Banana Tempura with Ice Cream (Vanilla)</div><div class="price w3-col s3 w3-right-align"> 5.95</div></div>
            </div>
            <!-- menu image -->
            <div class="menu_img" style="margin-top:16px;">
              <div>
                <%=image_tag("banana.png", class:"w3-image", style:"z-index:3")%>
                <div class="w3-container w3-card-4" style="z-index:5;">
                  <span class="img_desc_bg">Banana Tempura with Ice Cream</span>
                </div>
              </div>
            </div>
            <!-- menu image -->
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Thai Donuts</div><div class="price w3-col s3 w3-right-align"> 4.95</div> </div>
            </div> 
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Moji Ice Cream (3 pcs)</div><div class="price w3-col s3 w3-right-align"> 4.95</div> </div>
            </div>
            <!-- menu image -->
            <div class="menu_img" style="margin-top:16px;">
              <div>
                <%=image_tag("moji.png", class:"w3-image", style:"z-index:3")%>
                <div class="w3-container w3-card-4" style="z-index:5;">
                  <span class="img_desc_bg">Moji Ice Cream</span>
                </div>
              </div>
            </div>
            <!-- menu image -->
            <div class="dish-item">
              <div class="w3-margin-top w3-row"><div class="dish-name w3-col s9">Ice Cream (2 scoops)</div><div class="price w3-col s3 w3-right-align"> 4.95</div> </div>
              <span>Vanilla, green tea, chocolate, red bean, lychee, black sesami, mango</span>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end of view switcher container -->
    <!-- ************************  END OF CD9.PSD  ************************************************-->
    
  </div>  <!--  end of w3-modal-content  -->
</div> <!-- end of w3-modal -->
<!-- End of Menu Modal -->


<!-- Contact Modal -->
<div id="contact" class="w3-modal" style="z-index:2;">
  <div class="w3-modal-content w3-animate-zoom" style="padding-bottom:0px; margin-bottom:30px;">
    <div class="w3-container w3-chada-purple">
      <span onclick="document.getElementById('contact').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1>Contact</h1>
    </div>
    <div style="display:flex; padding:30px" class="map_time">
      <div style="display:flex;justify-content: center; overflow:hidden;" class="map"><!--left column-->
        <%=image_tag("https://maps.googleapis.com/maps/api/staticmap?center=1860+North+University+Drive+Planation,FL&zoom=17&scale=1&size=400x400&markers=size:mid%7Ccolor:red%7Clabel:C%7C26.148966,-80.255277&key=AIzaSyCZJK4PZFF8rSGh7cg0nNSNQNFZUOCafMU", class:"w3-hover-map", style:"object-fit:scale-down; max-width:100%")%>
      </div> 
      <div>
        <table class="w3-table-all w3-centered"><!--right column-->
          <tr class="w3-chada-purple">
            <th>Days</th>
            <th>Lunch Hours</th>
            <th>Dining Hours</th>
          </tr>
          <tr>
            <td>Monday</td>
            <td>11:00 am - 03:00 pm</td>
            <td>05:00 pm - 10:00 pm</td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>11:00 am - 03:00 pm</td>
            <td>05:00 pm - 10:00 pm</td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>11:00 am - 03:00 pm</td>
            <td>05:00 pm - 10:00 pm</td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>11:00 am - 03:00 pm</td>
            <td>05:00 pm - 10:00 pm</td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>11:30 am - 10:00 pm</td>
            <td>11:30 am - 10:00 pm</td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>12:30 pm - 10:00 pm</td>
            <td>12:30 pm - 10:00 pm</td>
          </tr>
          <tr>
            <td>Sunday</td>
            <td>02:00 pm - 9:00 pm</td>
            <td>02:00 pm - 9:00 pm</td>
          </tr>
        </table>
      </div>    
    </div>
    <!-- social media links-->
    <div style="display:flex; justify-content:center">
      <a href="https://www.facebook.com/chadathaiandsushi" target="_blank"><%=image_tag("chada_fb.png", class:"w3-image icon_shadow", style:"padding: 8px 16px")%></a>  
      <a href="https://www.instagram.com/chadathaifl" target="_blank"><%=image_tag("chada_ig.png", class:"w3-image icon_shadow", style:"padding: 8px 16px")%></a>
      <a href="https://www.deliverydudes.com/Plantation/Restaurants/Chada-Thai-Plantation" target="_blank"><%=image_tag("Chadad.png", class:"w3-image icon_shadow", style:"padding: 8px 16px")%></a>
    </div>    
    <!-- contact information-->
    <div class="w3-container w3-margin-top">  
      <div class="w3-center" style="font-size:20px; font-weight:bold;"> For more information on catering, dining specials, or reservations, please contact us at (954)-473-5333</div>
    </div>  
  </div>
</div>
<div id="events" class="w3-modal" style="z-index:2;">
  <div class="w3-modal-content w3-animate-zoom" style="padding-bottom:0px; margin-bottom:30px;">
    <div class="w3-container"  style="color:#fff;background-color:#13263D!important">
      <span onclick="document.getElementById('events').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1>events</h1>
    </div>    
    <%=image_tag("chada_event.jpg", class:"w3-image")%>  
  </div>
</div>    
<%= render '/homepage/footer' %>